html,body {
  &.modal-open{
    overflow: hidden;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-track {
    background-color: #58667e;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 4px;
  }
}

.container-default {
  width: 100%;
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

@keyframes preloader {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(150%);
  }

  51% {
    opacity: 0;
  }

  52% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes arrowReverse{
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-150%);
  }

  51% {
    opacity: 0;
  }

  52% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}